form {
    margin-top: 6em;
    text-align: center;
}

#search {
    width: 40%;
    padding-left: .3em;
    background-color: #0a0a0a;
    color: #d4cfcf;
    border: 1px #383333 solid;
}

#social-link {
    margin-top: 2.0em;
    bottom: 0;
    font-size: 40px;
    width:100%;
}

#social-link div {
    position: relative;
    text-align: center;
    padding: 0 5%;
}

#social-link a {
    margin-left: 16px;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
}

#social-link a:hover {
    color: #eeeeee;
}

#github {
    width: 200px;
    margin: auto;
}

#github img {
    width: 40px;
    height: 40px;
}

#github p {
    display: inline-block;
}

#rss-feeds {
    margin-top: 2em;
    font-size: .7em;
    height: 120px;
    padding: 0 4em;
}

#rss-feeds div {
    display: inline-block;
    overflow: auto;
    width: 30%;
    height: 120px;
    margin: 0 1em;
}

#rss-feeds div::-webkit-scrollbar {
    background-color:#517975;
    border-radius:7px;
}

#rss-feeds div::-webkit-scrollbar-thumb {
    background-color:#20092399;
    border-radius:7px;
}

#rss-feeds p {
    text-overflow: ellipsis;
    width: 97%;
}

#rss-feeds a {
    color: #74a593;
    text-decoration: none;
}

#rss-feeds a:hover {
    color: #7fb9a4;
}
