form {
    margin-top: 80px;
    text-align: center;
}

#search {
    width: 40%;
    padding-left: .3em;
    background-color: #0a0a0a;
    color: #d4cfcf;
    border: 1px #383333 solid;
}

#social-link {
    margin-top: 55px;
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#social-link i {
    font-size: 20px;
}

#social-link div {
    padding: 0 10%;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    text-align: center;
}

#social-link a {
    margin-left: 16px;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
    border: 1px solid #536e6f;
    line-height: 4em;
    border-radius: 15px;
}

#social-link a:hover {
    color: #eeeeee;
}

#github {
    width: 200px;
    margin: auto;
}

#github img {
    width: 40px;
    height: 40px;
}

#github p {
    display: inline-block;
}

#rss-feeds {
    margin-top: 45px;
    font-size: .7em;
    height: 120px;
    padding: 0 4em;
}

#rss-feeds div {
    display: inline-block;
    overflow: auto;
    width: 30%;
    height: 120px;
    margin: 0 1em;
}

#rss-feeds div::-webkit-scrollbar {
    background-color:#517975;
    border-radius:7px;
}

#rss-feeds div::-webkit-scrollbar-thumb {
    background-color:#20092399;
    border-radius:7px;
}

#rss-feeds p {
    text-overflow: ellipsis;
    width: 97%;
}

#rss-feeds a {
    color: #74a593;
    text-decoration: none;
}

#rss-feeds a:hover {
    color: #7fb9a4;
}
